/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */


/* Селектор - вибірка, запит, пошук елеминта(тів) в html файлі до якого він підключений 
селектор {
    css параметр;
    
}
    /* css параметр:
    css властивість: значення властивості;
    color: red;
    */
    /* типи селекторів:
    * - звернення до всіх елементів
    p - селектор тегу. Звернення до всіх тегів p
    .title - звернення до усіх тегів з class="title"
    #name - селектор id
    [class*="te"] {} селектор атрибутів. Наприклад: всі атрибути де присутні te
    [title*="Зображення"] {width: 100px;} 
    
    КОМБІНАЦІЯ СЕЛЕКТОРІВ
    div.text - комбінація селекторів (тег div з класом text)
    p#top.text - параграф з ід та тегом  текст
    div, .text, .title {} - перелік селекторів
    каскадність селекторів
    .article h1 - всі h1 які знаходяться в об'єкті з селектором class="article" на будь-якому рівні вкладеності
    */
    /* Спеціальні символи
    .article > p {} - усі теги p першого рівня вкладеності в середині об'єктів з класом .article
    .article ~ p {} - усі теги p які знаходяться далі по коду після об'єктів з класом .article та мають той самий рівень вкладеності
    .article + p {} - лише перший p після .article на одному рівні вкладеності (якщо між ними буде ще якийсь - не знайде)
    */
    /* ПРИОРІТЕТ СЕЛЕКТОРІВ */
    /* 
    Основні правили а формування пріоритетів:
    1) У випадку рівнозначних селекторів більший пріоритет буде у останнього (нижчого) по коду. (Селектор класу та селектор атрибуту - рівнозначні)
    2) Більший пріоритет завжди буде у селекторао, який звужує (уточнює, конкретизує)
    Селектор класу має більший пріоритет ніж селектор тегу
    ID - має найвищий пріоритет
    3) Пріоритет у рядкових (inline) стилів (атрибут style="") вищий ніж у стилів з окремого файлу (Наприклад style.css)
    4) Прапор !important перезаписує пріоритет (не рекомендується) .
    */

    /* ЧАСТІ ПИТАННЯ */
    /* 
    .title.big та .title. big
    перше -  звернення до об'єктів у яких одночасно є клас .title та .big
    друге - звернення до об'єктів з класом .big які вкладені в .title
    */
    /* 
    .text {} та .text * {}
    перше - до всіх об'єктів з класом text
    другу -  до усіх об'єктів в середині об'єктів з класом .text
    */

    /* Для беку (коли заповнюється через адмінку) гарно не задавати класи конкретним текстовим елементом а звертатись через вкладеність  article.p article.a article.li або задавати батьківським елементам
    Іншими словами - не стилізувати на пряму теги які добавлятимуться через адмінку бо в адмінкі ці стилі не прописуються*/
.title {
    color: rgb(134, 122, 0);
}
.main-info {
    color: rgb(17, 0, 168);
}
div.block-info p, li {
    color: brown;
}
a {
    color: red;
}
.block-info h2 {
    color: blue;
}
.main-info .second-text, 
.info .second-text {
    color: black;
}