
@import url("reset.css");
@import url("fonts.css");

body{
	/* background-color: #e7eee8; */
	font-family: 'Lato', sans-serif;
	background-color: #e8ffe8;
	padding: 5px;
}


[class*='__container'] {
	max-width: 1366px;
	margin: 0 auto;
	background: #c3dbc9;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	border: 1px rgba(0, 255, 102, 0.225) solid;
}

.header {
	position: fixed;
	left: 32%;
	top: 3px;
}

.header__items {
	text-align: center;
	width: 640px;
	
}
.header__item,
.header__link {
	display: inline-block;
	width: 100px;
	height: 30px;
	background-color: #c1d4bd;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid #000;

}
.header__link:hover {
	background-color: #a9bfa4;
}
.main {
	margin: 35px 0;
}

.title-section {
	font-size: 24px;
	text-align: center;
	line-height: 300px;
}
.text-section {
	text-align: center;
}

[class*="block-"] {
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	opacity: 0.8;
	
}
.block-test1 {
	background-color: red;
	color: green;
}
.block-test2 {
	background-color: green;
	color: blue;
}
.block-test3 {
	background-color: blue;
	color: black;
}
.block-test4 {
	background-color: black;
	color: red;
}


.relative__block1 {
	position: relative;
	top: 30px;
	left: 30px;
}

.relative__block2 {
	position: relative;
	top: 10px;
	right: 30px;
	z-index: -1;
}

.relative__block3 {
	position: relative;
	bottom: 30px;
	right: 15px;

}

.relative__block4 {
	position: relative;
	bottom: 200px;
	left: 45px;
}

.relative__button {
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: 700;
	background: radial-gradient(circle,rgba(255, 0, 0, 1) 0%, rgba(0, 255, 77, 1) 52%, rgba(25, 0, 255, 1) 100%);
	border-radius: 30px;
}

.absolute {
	
	color: black;
}

.absolute__container {
	position: relative;
}

.absolute__block1 {
	position: absolute;
	top: 50px;
	left: 50px;
	/* z-index: -1; */
}

.absolute__block2 {
	position: absolute;
	top: 50px;
	right: 50px;

}

.absolute__block3 {
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.absolute__block4 {
	position: absolute;
	bottom: 50px;
	right: -50px;
	z-index: -1;
}

/* .sticky {
}
.sticky__container {
} */

.sticky__block1,
.sticky__block2,
.sticky__block3,
.sticky__block4{
	margin: 0 auto;	
}

.sticky__block1 {
	
	position: sticky;
	top: 200px;
	z-index: 1;
}


.go-back {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 80px;
	height: 30px;
	background-color: #376d3a;
	border-radius: 10px;
	text-align: center;
	line-height: 30px;
	color: #e8ffe8;
}