@import url("reset.css");
@import url("fonts.css");

/* html {
	height: 100%;
} */
body{
	/* background-color: #e7eee8; */
	font-family: 'Lato', sans-serif;
	/* height: 100%; */
}
.wrapper {
	position: relative;
	width: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}


/* ///////////////   HEADER */

.header {
	background-color: #ffd3d3;
}


/* ///////////////   MAIN */

.wrapper > main {
	flex-grow: 1;
}

[class*='__container'] {
	max-width: 1392px;
	margin: 0 auto;
	border-radius: 10px;
}
.big-form {
	background-color: #caf4ce;
	padding: 30px;
}

.big-form__main-form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
}

.big-form__item {
	flex-basis: 300px;
	flex-grow: 0;
	border: 1px solid #000;
	border-radius: 7px;
	padding: 5px;
	background-color: #e5ffe6;
	
}
.big-form__item input {
	height: 30px;
	padding: 0 7px;
	border-radius: 3px;
	width: 100%;
}
.big-form__item input::placeholder {
	color: #379741;
	transition: all 0.3s;
}
.big-form__input-shadow {
box-shadow:
  inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.big-form__input-shadow:focus-visible {
outline: 2px solid rgba(10, 113, 27, 0.401);
}
.big-form__input-shadow:focus-visible::placeholder {
opacity: 0;
}


.checkbox-custom {
	appearance: none;
	display: flex;
}
.checkbox-custom:checked::before {
	background-color: #000;
	background: url(/img/checked-2.png) 0 0 / 100% no-repeat;
}
.checkbox-custom::before {
	width: 20px;
	height: 20px;
	/* border-radius: 50%; */
	align-self: flex-start;
	border: 1px solid #000;
	background-color: #000;
	transition: background-color 0.5s;
	content: "";
}
/* .checkbox-custom {
} */
 

/* .form__line {
	background-color: #379741;
}
.form__line--margin {
} */
.checkbox-two {
	display: flex;
	align-items: center;
}
.checkbox-two__input {
	appearance: none;
	display: flex;
}
.checkbox-two__input:checked::before {
	background-color: #000;
	background: url(../img/Check-green.svg) 0 0 / 100% no-repeat;
}
.checkbox-two__input::before {
	width: 20px;
	height: 20px;
	align-self: flex-start;
	border: 1px solid #000;
	background-color: #379741;
	transition: all 0.5s;
	content: "";
}

.big-form__textarea {
	height: 100%;
	width: 100%;
}
.big-form button {
	background: radial-gradient(circle,rgba(255, 255, 255, 1) 6%, rgba(55, 151, 65, 1) 100%);
	width: 100px;
	height: 30px;
	border-radius: 10px;
	margin: 3px;
	transition: opacity 0.3s;
}
.big-form button:hover {
	opacity: 0.8;
}
.big-form button: active {
	background: radial-gradient(circle,rgba(255, 255, 255, 1) 6%, rgb(33, 89, 38) 100%);
	color: rgb(84, 84, 84);
}

/* ///////////////   REGISTER TO FURNITUR */

.register__header,
.register__content {
	padding: 82px 0;
}
.register__title {
	margin-bottom: 36px;
}
.title-section {
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	text-align: center;
	color: #2f302c;
	text-transform: uppercase;
}
.register__promo {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	color: #7e7f7c;
	text-transform: uppercase;
}
.register__content {
	display: flex;
	justify-content: space-between;
}

.user {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 712px;
	align-content: space-between;
}
.user > button {
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	color: #fff;
	padding: 12px;
	max-width: 336px;
	max-height: 44px;
	background: #2f302c;
	width: 100%;
}

.user__title > p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #7e7f7c;
}
.user__title > p > a {
	font-weight: 700;
	text-decoration: underline;
	color: #2f302c;
}
.user__title > p > a:hover {
	opacity: 0.7;
}
.user__title > h3{
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 32px;
	line-height: 125%;
	color: #2f302c;
	text-transform: uppercase;
	margin-bottom: 36px;
}
#user__form {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: #7e7f7c;
	padding: 72px 0;
	display: flex;
	max-width: 712px;
	flex-wrap: wrap;
	gap: 40px;
	
	
}
#user__form input {
	
	height: 44px;
	/* padding: 12px 0px; */
	border-bottom: 1px solid  #d4d4d4;
	flex-basis: 336px;
	flex-grow: 1;

}
#user__form input[name="userphone"] {
	flex-basis: 712px;

}
#user__form input:focus {
	outline: none;
}
#user__form input::placeholder {
	transition: opacity 0.2s;
}

#user__form input:focus::placeholder {
	opacity: 0;
}

.register__banner {
	max-width: 600px;
	max-height: 496px;
}
.banner {
	background: #f6f6f6;
	position: relative;
}
/* .banner__img {
} */
.banner__text {
	position: absolute;
	/* top: calc((224 * 100%) / 600 ); */
	/* left: calc((80 * 100%) / 496); */
	top: 224px;
	left: 80px;
}
.banner__status {
	width: 51px;
	height: 28px;
	border-radius: 4px;
	padding: 4px 8px;	
	text-transform: uppercase;
	background: #ce0000;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
	margin-bottom: 24px;
}
.banner__information {
	font-weight: 800;
	font-size: 32px;
	line-height: 1.25;
	color: #2f302c;
}

/* ///////////////   FOOTER */

.footer {
	background-color: #e1d7ff;

}
